
body {
    color: #2f2f2f;
   // font-family: "PT Sans Narrow",sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 150px;
}
html {
    min-height: 100%;
    position: relative;
}

.fixed-top{
    left: 0;
/*     position: fixed; */
    right: 0;
/*     z-index: 1030; */
    top: 0;
}

.slider {
	padding-top: 50px;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
}
hr.thick {
    background: none repeat scroll 0 0 #b7b7b7;
    border-radius: 2px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 0;
}
.no-left-padding {
    padding-left: 0;
}
label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
}
.breadcrumb a {
    color: #8e8e8e;
}
.breadcrumb a:hover {
    color: #43a4db;
    text-decoration: none;
}
.breadcrumb .divider {
    color: #8e8e8e;
}
.breadcrumb {
	margin-bottom: 0;
}
a {
	cursor: pointer;
}

@media (max-width:600px) {
   #reformal_tab{
       display:none !important;
   };
}

/* Новый хедер*/

.main-header {
    border-bottom: 1px solid #ebecee;
}
.main-header .centered-nav .nav-pills {
    text-align: center;
}
.main-header .centered-nav .nav-pills > li {
    display: inline-block;
    float: none;
}
.nav {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
ul, ol {
    margin-bottom: 11px;
    margin-top: 0;
}
.nav > li {
    display: block;
    position: relative;
}
.main-header .nav-pills a {
    color: #8e8e8e;
}
.main-header .nav-pills a:hover {
    color: #252525;
}
.main-header .centered-nav .more {
    border: 1px solid #cccccc;
    margin: 10px 0;
    padding: 0 15px;
}
.main-header .centered-nav .cart {
    border: 1px solid #cccccc;
    margin: 10px 0;
    padding: 0 0 0 5px;
}
.main-header .nav-pills a {
    color: #8e8e8e;
}
.dropdown-toggle:focus {
    outline: 0 none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #eee;
    border-color: #cccccc;
}
.nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
    border-radius: 3px;
}
.main-header .navbar {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #efefef;
    margin-bottom: 0;
}

.main-header .social .fa-facebook{    
    padding: 9px 12px;
}
.main-header .social .fa-instagram{    
    padding: 7px 10px;
}
.main-header .social .fa-vk{    
    padding: 7px 5px;
}
.main-header .social a {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #cccccc;
    border-radius: 50%;
    display: inline-block;
    height: 45px;
    margin-right: 0.2em;
    width: 45px;
    color: #A2A2A2;
}
.main-header .social a:hover{
	outline: 0 none;
	text-decoration: none;
	color: #393838;
	border-color: #393838;
}
.main-header .social {
	margin-top: 3vw;
}
.main-header .contacts a {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    margin-right: 1em;
    color: #A2A2A2;
}
.main-header .contacts a:hover{
    outline: 0 none;
    text-decoration: none;
    color: #393838;
}
.main-header .contacts {
    margin-top: 4vw;
}
.cart i{
	padding-right: 10px;
}
.cart-badge {
	border-radius: 0;
	font-size: 1em;
	padding: 4px 7px;
}
/* Список товаров */
.ads-list {
    margin-top: 20px;
}
.media-body {
	padding-bottom: 5px;
}
.media > .pull-left {
    margin-right: 10px;
}
.item_img {
    max-height: 18vh;
}
.discount-container {
    display: block;
    position: relative;
}
.ads-list .thumb {
    border: 1px solid #f8f9fa;
    min-width: 193px;
}
.ads-list .description {
    height: 2.7em;
    margin: 5px 15px 7px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ads-list .prices {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-danger {
    color: #a94442;
}
#loadingDiv{
	height: 55vh;
}
#loadingDiv img{
  height: 100%;
	margin-left: 30%;
}
.ads-list a:hover {
    color: #bbce1a;
}
/* Фильтры */
.search-page .categories {
    border: 1px solid #cccccc;
    border-radius: 2px;
    margin: 20px 0 20px 15px;
    padding: 10px 0 10px 20px;
}
.search-page .smart-search {
    border: 1px solid #cccccc;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.search-page .smart-search .control-label {
    padding-right: 0 !important;
}
.search-page .smart-search .form-group {
    margin: 0 0 5px;
    padding-top: 10px;
}
.smart-search .bordered{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 16px;
    height: 32px;
    line-height: 1.42857;
    padding: 4px 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
.form-control::-moz-placeholder {
    color: #8e8e8e;
    opacity: 1;
}
.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 5px;
    text-align: right;
    padding-right: -20px;
}
.form-horizontal .price {
	width: 6vw;
	display: inline-block;
}
.hint {
    color: #777;
}
.selected {
    color: #8e8e8e;
}
.filter_btns {
	margin-left: 15px !important;
}
.search-page .smart-search #center-block-btn {
    background: none repeat scroll 0 0 #f5f5f5;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
}

/* Панель категорий */
.plate {
    margin-bottom: 3px;
}
.plate .with-paddings {
    padding: 1px;
}
.plate .category-img{
    background: none no-repeat scroll 50% 50% / cover rgba(0, 0, 0, 0);
    display: block;
}
.plate a:hover {
    text-decoration: none;
}

.plate .sport{
    background-image: url("/img/sport.jpg");
}
.plate .kids{
    background-image: url("/img/kids.jpg");
}
.plate .electronics{
    background-image: url("/img/electronics.jpg");
}
.plate .party{
    background-image: url("/img/party.jpg");
}
.plate .transport{
    background-image: url("/img/transport.jpg");
}
.plate .photo{
    background-image: url("/img/photo.jpg");
}

.col-middle {
    display: table-cell;
    float: none;
    height: 260px;
    padding: 0;
    vertical-align: bottom;
}

.col-middle h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px #fff;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-top: 1em;
    text-transform: initial;
}
section h2 {
    margin-bottom: 2em;
}
a {
    color: #43a4db;
    text-decoration: none;
}
/* Карточка товара*/
.first-img {
	max-width: 30vh;
}
.characters {
	text-align: right;
}
.text-stock {
	
}

/*  Новый футер */
.main-footer {
    background: none repeat scroll 0 0 #252525;
    color: #ffffff;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.main-footer .container {
    margin-top: 20px;
}

.main-footer .links > li > a span, .main-footer .links > li > a:hover span {
    text-decoration: underline;
}

.main-footer .social a {
    display: inline-block;
    margin-right: 0.8em;
    vertical-align: middle;
    color: #A2A2A2;
}
.main-footer .social a:hover {
    text-decoration: none;
}
.main-footer .contacts a {
    display: inline-block;
    margin-right: 0.5em;
    color: #A2A2A2;
    vertical-align: middle;
}

.main-footer .contacts a:hover{
    outline: 0 none;
    text-decoration: none !important;
    outline: 0 none;
    color: #FFFFF;
}
.main-footer .contacts a:focus{
    outline: 0 none;
    text-decoration: none !important;
    outline: 0 none;
    color: #FFFFF;
}
.main-footer .contacts {
    margin-bottom: 1vw;
    text-align: center;
}
.main-footer .links a{
	color: #A2A2A2;
}
.visuallyhidden {
    opacity: 0;
}

/* Корзина */ 
.modal-body {
	overflow: auto;
	max-height: 400px;
}
.cart_items{
	margin: 5px;
}

.cart_list .price {
	
	text-align: center;
	width: 50px;
}
.cart_list .title {
	font-size: 14px;
    width: 450px;
}
/* Баннера */ 
.banner_img{
	max-width: 380px ;
	max-height: 300px ;	
	border-radius: 15px;
}
.carousel-indicators {
    bottom: 0;
    opacity: 0.5;
}
.gray_form input, select{
	max-width: 180px;
	padding-bottom: 5px;
}
form label.error {color: #FF0000; font-weight: normal;}

.control-label {
	text-align: left !important;
	padding-right: 0px;
}

/* Слайдер */
.carousel {
	width: 100%;
    height: 18vw;
    padding: 0;
}
.slide_img {
	width: 100%;
	height: 100%;
    border-radius: 15px;
}

.carousel-indicators {
	margin-bottom: 0px;
}
.carousel-control.right {
    background-image: none;
 }
 .carousel-control.left {
    background-image: none;
 }

.ul_pagination {
    text-align: center;
}
.search_label {
	font-size: 10px;
	text-align: center;
}

.search_li {
	text-align: center; 
	 max-width: 115px;
	 color: gray; 
}

.search_li a {
    color: gray; 
}

.texteditor {
    height: 500px;
}

/* ADMIN STYLES */
.object_table {
    font-size: 12px;
}
.object_table th {
	vertical-align: middle !important;
	text-align: center;
}
.object_table .odd1 {
    background: #F5F5F5;
}

.icon-span {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#object-image-list{ position: relative; }
#object-image-list .image{
    margin: 3px;
    height: 175px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}
#object-image-list .image img{ width: 150px; max-height: 140px; }
#object-image-list .image a{ display: block; margin-top: 5px; }

.foot {
	text-align: center;
	color: white; 
	padding-top: 5px;
}
